
                

            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li><i class="fa fa-home"></i></li>
                        <li>Dashboard</li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li>Pricing</li>
                    </ul>
                </div>
            </div>


            



            <div class="row justify-content-md-center">

                <div class="col-lg-7 col-md-8 col-sm-12 text-center ">
                    <h2 class="pg-title">Subscription plans</h2>
                    <p class="c-dark">Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face.</p>
                
                    
                    <div class="graph-filter-btn btn-group " role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light active ">Month</button>
                        <button type="button" class="btn btn-light ">Yearly</button>
                    </div>
                </div>
                

            </div>


            <div class="row pricing-list py-4">

            
                
                <div class="col-lg-4 col-md-4 col-sm-12 my-3">
                <div class="pricing-item">
                    <div class="p-overlay">
                        <h2>Starter</h2>
                    </div> 
                    <div class="p-wrapper">
                        <div class="p-head text-center">
                        <div class="price"><small>$</small>33</div>
                        <div class="details">
                            <p class="validity">Monthly Package</p>
                            <p class="name">Starter</p>
                            <a href="javascript:;"><button class="btn btn-primary buy-btn">Purchase Now</button></a>
                        </div>
                        </div>
                        <ul class="p-list">
                            <li>5 Analytics Compaign</li>
                            <li>Unlimited Site licenses</li>
                            <li>1 Database</li>
                            <li>10 Free Optimization</li>
                            <li>Html5 + Css3</li>
                            <li>24/7 Customer Support</li>
                        </ul>
                    </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 my-3">
                <div class="pricing-item active">
                    <div class="p-overlay">
                        <h2>Premium</h2>
                    </div> 
                    <div class="p-wrapper">
                        <div class="p-head text-center">
                        <div class="price"><small>$</small>55</div>
                        <div class="details">
                            <p class="validity">Monthly Package</p>
                            <p class="name">Premium</p>
                            <a href="javascript:;"><button class="btn btn-primary buy-btn">Purchase Now</button></a>
                        </div>
                        </div>
                        <ul class="p-list">
                            <li>5 Analytics Compaign</li>
                            <li>Unlimited Site licenses</li>
                            <li>1 Database</li>
                            <li>10 Free Optimization</li>
                            <li>Html5 + Css3</li>
                            <li>24/7 Customer Support</li>
                        </ul>
                    </div>
                </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 my-3">
                <div class="pricing-item">
                    <div class="p-overlay">
                        <h2>Professional</h2>
                    </div> 
                    <div class="p-wrapper">
                        <div class="p-head text-center">
                        <div class="price"><small>$</small>99</div>
                        <div class="details">
                            <p class="validity">Monthly Package</p>
                            <p class="name">Professional</p>
                            <a href="javascript:;"><button class="btn btn-primary buy-btn">Purchase Now</button></a>
                        </div>
                        </div>
                        <ul class="p-list">
                            <li>5 Analytics Compaign</li>
                            <li>Unlimited Site licenses</li>
                            <li>1 Database</li>
                            <li>10 Free Optimization</li>
                            <li>Html5 + Css3</li>
                            <li>24/7 Customer Support</li>
                        </ul>
                    </div>
                </div>
                </div>



            </div>

           