<main class="main-section" id="main">
        <div class="container">
            <div class="row align-middle align-items-center">
                
                <div class="col">
                    <img class="m-0-auto sign-img " src="assets/images/404.png" style="max-width: 430px; width:100%; margin-bottom: 25px;" >
                    
                    <button class="m-0-auto btn btn-primary" [routerLink]="['/']" >Back to Home</button>
                </div>
    
            </div>
        </div>
      </main>