
            <div class="row">

                <div class="col-lg-3 col-md-4 col-sm-12 ">
                    <div class="widget-box box-style2 animate slideBottom run ">
                      <div class="widget-wrapper">
                          <div class="w-icon">
                              <i class="rotate-315 icon fa fa-paper-plane blue"></i>
                          </div>
                          <div class="w-text">
                              <h3 class="title">Title</h3>
                              <p class="sub-title">Sub title</p>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 ">
                    <div class="widget-box box-style2 animate slideBottom  run">
                        <div class="widget-wrapper">
                            <div class="w-icon">
                                <i class="icon fa fa-signal green"></i>
                            </div>
                            <div class="w-text">
                                <h3 class="title">Title</h3>
                                <p class="sub-title">Sub title</p>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 ">
                    <div class="widget-box box-style2 animate slideBottom run">
                        <div class="widget-wrapper">
                            <div class="w-icon">
                                <i class="icon fa fa-file-text yellow"></i>
                            </div>
                            <div class="w-text">
                                <h3 class="title">Title</h3>
                                <p class="sub-title">Sub title</p>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 ">
                    <div class="widget-box box-style2 animate slideBottom run">
                        <div class="widget-wrapper">
                            <div class="w-icon">
                                <i class="icon fa fa-user purple"></i>
                            </div>
                            <div class="w-text">
                                <h3 class="title">Title</h3>
                                <p class="sub-title">Sub title</p>
                            </div>
                        </div>
                      </div>
                </div>

            </div>





            <div class="row">


                <div class="col-lg-7 col-md-7 col-sm-12 ">
                      <div class="box-style2 p-4 animate slideBottom run">
                        <div class="row">
                          <div class="col">
                              <h3 class="graph-title">Total Revenue</h3>
                          </div>
                          <div class="col-auto">
                              <div class="graph-filter-btn btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-light ">Month</button>
                                <button type="button" class="btn btn-light active">Year</button>
                              </div>
                          </div>
                        </div>
                        <div id="chartdiv" class="mt-3"></div>
                     </div>

                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 ">
                  <div class="box-style2 p-4 mh-400 animate slideBottom run" >
                    <h3 class="graph-title">Customers</h3>
                    <div id="chartdiv2"  class="mt-3"></div>
                  </div>
                </div>

        
            </div>
